.widget { float: left; height: 220px; width: 220px; }
.widget_box { height: 200px; width: 200px; border: solid 1px #ccc;}
.widget h2 {border: solid 1px #ddd; border-left: none; border-right: none; cursor: move;}
ul#dashboard_ul { list-style-type: none; margin: 0; padding: 0;}

.widget .content {overflow: hidden; width: 200px; position: absolute;}


.rog_bar, .rog_text {float: left;}
.rog_bar div {width: 40px;}
.rog_bar .red {background-color: red;}
.rog_bar .orange {background-color: orange;}
.rog_bar .green {background-color: green;}
.rog_text .red {color: red;}
.rog_text .orange {color: orange;}
.rog_text .green {color: green;}

